{% extends 'layouts/main.html' %}
{% block title %} download {% endblock %}
{% block content %}

<head>
<!--  <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">  例子-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div>
    {% if g.username %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash" ></ul>
    {% endif %}
    {% endwith %}
</div>

<!-- Content Section -->
<div class="w3-container w3-padding-small" id="content">
<h1 class="w3-border-bottom w3-border-light-grey w3-padding-small">Condition</h1>

<form method="post">
  <h3>Driver Email</h3>
  <input class="w3-input w3-section w3-border" type="text" name="email">
  <hr/>
  <h3>Time Interval</h3>
  <input class="w3-input w3-section w3-border" id="Sdatetime" type="datetime-local"  name="Sdatetime" required>
  <input class="w3-input w3-section w3-border" id="Edatetime" type="datetime-local"  name="Edatetime" required>
  <hr/>
  <h3>Data</h3>
  <input class="w3-check w3-black w3-section" id="checkbox1" type="checkbox" name="Algo">
  <label>&nbsp Algo</label>
  <p>
  <input class="w3-check w3-black w3-section" id="checkbox2" type="checkbox" name="BCG">
  <label>&nbsp BCG</label>
  <p>
  <input class="w3-check w3-black w3-section" id="checkbox3" type="checkbox" name="ECG">
  <label>&nbsp ECG</label>
  <p>
  <hr/>
  <h3>File Format</h3>
  <select class="w3-select" id="formatselect" name="fileformat" required >
    <option value="" disabled selected>Choose your option</option>
    <option value="txt">.txt</option>
    <option value="csv">.csv</option>
  </select>

  <button class="w3-button w3-black w3-section" type="submit" >
    <i class="fa fa-paper-plane"></i> submit
  </button>
</form>

</div>


{% else %}
  <p>Please login first</p>
{% endif %}
{% endblock %}



