{% extends 'layouts/main.html' %}
{% block title %} download {% endblock %}
{% block content %}

<div>
    {% if g.username %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash" ></ul>
    {% endif %}
    {% endwith %}
</div>

<script>
function get_FirmwareData() {
        fetch("{{ url_for('firmware.get_FV')}}")
        .then(response => {
          response.text().then(t => {
            var obj = JSON.parse(t);
            var t = $$("databody", "dblclick");//自定義觸發事件(雙擊)
            var json = {
                rows : obj.datalen, //這邊要輸入資料數量(一定要剛剛好)
                data : obj.data,
                column : ["datetime", "hv", "fv", "label", "commit", "verify"],
                edit :[]
            }
            t.init(json);

               })
             });
    }
</script>
<script>
function save_FirmwareData() {
  var table = document.getElementById("databody").innerHTML
  $.ajax({
        url: "save_FV",                       // url位置
        type: 'post',                         // post/get
        data: {"table": table},               // 輸入的資料
        error: function (xhr) {
            document.getElementById("avg_hr").innerHTML = "NO"
        },      // 錯誤後執行的函數

    });
}
</script>

<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/static/js/edit-tb.js"></script>
  <link href="/static/css/table.css" rel="stylesheet" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script type="text/javascript">
	window.onload = function(event) {
        get_FirmwareData()
	}
  </script>
 </head>

 <body>
	<table class="mytable" cellpadding="0" cellspacing="0" contentEditable="true">   <!--contentEditable:整張table都可以修改-->
		<thead>
			<tr>
				<th>Datetime</th>
				<th>Hardware Version</th>
				<th>Firmware Version</th>
				<th>Label</th>
				<th>Verify</th>
                <th>Commit</th>
			</tr>
		</thead>
		<tbody id="databody"></tbody>
	</table>

    <button class="w3-button w3-black w3-section" onclick="save_FirmwareData()"><i class="fa fa-paper-plane"></i> Save </button>

 </body>

{% else %}
  <p>Please login first</p>
{% endif %}
{% endblock %}