{% extends 'layouts/main.html' %}
{% block title %} firmware upload{% endblock %}
{% block content %}

<head>
<!--  <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">  例子-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div>
    {% if g.username %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash" ></ul>
    {% endif %}
    {% endwith %}
</div>

<!-- Content Section -->
<div class="w3-container w3-padding-small" id="content">
<h1 class="w3-border-bottom w3-border-light-grey w3-padding-small">Upload New File</h1>

<form method="post" enctype=multipart/form-data>
  <h3>Hardware Version</h3>
  <input class="w3-input w3-section w3-border" placeholder="例:1.3" type="text" name="hv" required>
  <hr/>
  <h3>Firmware Upload</h3>
  <input class="w3-input w3-section w3-border" type="file" name="file" required>
  <hr/>
  <button class="w3-button w3-black w3-section" type="submit" >
    <i class="fa fa-paper-plane"></i> submit
  </button>
</form>

</div>


{% else %}
  <p>Please login first</p>
{% endif %}
{% endblock %}



