{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<html>
<title>home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/static/img/home_dataserver.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Biologue</b></span> <span class="w3-hide-small w3-text-light-grey">Data Server</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p> Data Server provides Biologue colleagues to download database data.
      You can use time interval and choose the file format to download the required information.
    </p>
  </div>


<!-- End page content -->
</div>


</body>
</html>

{% endblock %}
