<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/biologue_logo.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/biologue_logo.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/biologue_logo.png">
<link rel="apple-touch-icon-precomposed" href="/static/ico/biologue_logo.png">
<link rel="shortcut icon" href="/static/ico/favicon.png">
<!-- /favicons -->

<!-- scripts -->
<script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Data Server</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('download.download_db_data') }}">Download</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Firmware<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('firmware.upload') }}">Upload</a></li>
                <li><a href="{{ url_for('firmware.delete') }}">Delete</a></li>
                <li><a href="{{ url_for('firmware.version') }}">Version</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">APK<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('apk.upload') }}">Upload</a></li>
                <li><a href="{{ url_for('apk.delete') }}">Delete</a></li>
              </ul>
            </li>
          </ul>


          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              {% if g.username %} <!--如果有g.user 才會出現以下個人資訊-->
              <a class="dropdown-toggle" data-toggle="dropdown">{{g.username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Account</li>
                <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              </ul>
            </li>
            {% else %} <!--沒有g.username 就是註冊或登入-->
            <li><a href="{{ url_for('auth.register') }}">Signup</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main" class="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-error fade in">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
      
    </main>

  </div>

  <div id="footer">
    <div class="container">
      <p>Biologue Co., Ltd. &copy; All Rights Reserved.</p>
      {% block footer %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
  <script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>

</body>
</html>
