body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-only-page .form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-only-page .form .form-heading,
.form-only-page .form .checkbox {
  margin-bottom: 10px;padding: 10px;
}
.form-only-page .form .checkbox {
  font-weight: normal;
}
.form-only-page .form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-only-page .form .form-control:focus {
  z-index: 2;
}
.form-only-page .form input[type="text"],
.form-only-page .form input[type="password"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-only-page .form input.first-input {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.form-only-page .form input.last-input {
  margin-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.form-only-page .back-home {
  margin-top: 10px;
}
