.mytable{
	border-collapse:collapse;
	width: 100%;
	margin-top:30px;
}
.mytable thead{
	background-color:#eee;
	height:38px;
	font-weight:bold;
}
.mytable tbody{
	color:#555;
}

.mytable th{
	border:1px solid;
	width:10%;
	height:30px;
	text-align:center;
	word-break: break-all;
}
.mytable td{
	border:1px solid;
	width:10%;
	height:30px;
	text-align:left;
	word-break: break-all;
}

.mytable td input[type=text]{
	width:93%;
	height:24px;
	background-color:#e0e0e0;
	border:1px solid #e0e0e0;
	border-radius:4px;
	color:black;
    word-break: break-word;    //break-word
}

.mytable td input[type=button]{
	width:20%;
	height:24px;
	background-color:#e0e0e0;
	border:1px solid #e0e0e0;
	border-radius:4px;
	color:gray;
	font-weight:bold;
	word-break: break-all;
}
