{% extends 'layouts/form.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
  <form method="post" class="form form-reset">
    <h3 class="form-heading">Reset Password <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.email(class_ = 'form-control first-input last-input', placeholder = form.email.label.text, required = true) }}
    {{ form.newpassword(class_ = 'form-control last-input', placeholder = form.newpassword.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('auth.login') }}">Login</a></p>
    <p class="pull-right"><a href="{{ url_for('auth.register') }}">Register</a></p>
    <input type="submit" name="save" value="save" class="btn btn-lg btn-primary btn-block" enabled>
  </form>
{% endblock %}
