{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flash">
      <!-- {% for message in messages %}
          <li>{{ message }}efefef</li>
      {% endfor %} -->
  </ul>
  {% endif %}
  {% endwith %}

  <form method="post" class="form">
    <h3 class="form-heading">Login <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.username(class_ = 'form-control first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
    {{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('auth.forgot') }}">Forgot Password?</a></p>
    <p class="pull-right"><a href="{{ url_for('auth.register') }}">Register</a></p>
    <input type="submit" name="login" value="Login" class="btn btn-primary btn-lg btn-block" enabled>
  </form>
{% endblock %}
