{% extends 'layouts/form.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flash" ></ul>
  {% endif %}
  {% endwith %}

  <form method="post" class="form">
    <h3 class="form-heading">Profile <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    <b style="font-size:20px"> name</b>
    {{ form.username(class_ = 'form-control first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    <b style="font-size:20px"> email</b>
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}

    <hr size="8px" align="center" width="100%">
    <input type="submit" name="save" value="save" class="btn btn-primary btn-lg btn-block"  enabled>
    <br>
    <hr size="8px" align="center" width="100%">
  </form>

{% endblock %}
