{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flash">
      <!-- {% for message in messages %}
          <li>{{ message }}efefef</li>
      {% endfor %} -->
  </ul>
  {% endif %}
  {% endwith %}
  
  <form method="post" class="form">
    <h3 class="form-heading">Register <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.username(class_ = 'form-control first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
    {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
    
    <hr size="8px" align="center" width="100%">

    <p class="pull-left"><a href="{{ url_for('auth.login') }}">Login</a></p>
    <input type="submit" name="register" value="Register" class="btn btn-primary btn-lg btn-block"  enabled>
    <br>
    <hr size="8px" align="center" width="100%">
  </form>

{% endblock %}
